@model IEnumerable<ProductCatalog.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Products</h1>
<br />
    <div class="form-inline">
        <label class="control-label">Filter by Category</label>
        <select class="form-control" id="SelectedCategory" asp-items="@(new SelectList(ViewBag.CategoriesList, "Id", "Name"))">
            <option></option>
        </select>
        <div class="form-group">
            <input type="button" id="FilterBtn" value="Save" class="btn btn-primary" />
        </div>
    </div>



<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price) EGP
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script>
        (function ($) {
            $(document).ready(function () {
                $("#FilterBtn").click(function () {
                    location.href = "/Products/Index?categoryId=" + $("#SelectedCategory").val()
                });
            });
            })(jQuery);
    </script>
}
